.chat-main
  .chat-main__group-info
    .header-leftbox
      .current-group
        test
      .member-list 
        Member:
        .member 
          Aki
    = link_to "＃" "Edit"

  .chat-main__message-list
    .member-name1
      Aki
      .date1
        2020/07/15(Wed)
        .time1
          11:00:00
    .message1
      おはよう！
    .member-name2
      Aki
      .date2
        2020/07/15(Wed)
        .time2
          11:05:00
    .message2
      今日は夜から雨

  .chat-main__message-form
    %form.new-message 
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}


    